/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    display: block;
    color: #222;
    background: url("/res/bg_terang_pattern.png") top/100px repeat;
    transition: background 0.5s;
}

/* Top Site Header */
.site-header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 30px auto;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.header-logo img {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.header-nav .nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    transition: 0.2s;
}

.header-nav .nav-link:hover {
    color: #0077ff;
}

/* Header Layout */
.header {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 0 auto 30px auto;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 0%;
}

.description {
    text-align: justify;
    margin-top: 10px;
    font-size: 0.95rem;
    color: #666;
    padding-left: 0%;
}

body.dark-mode .description {
    color: #ccc;
}
/* Mobile layout (screen width 600px or less) */
@media (max-width: 600px) {
    .header {
        grid-template-columns: 1fr;
        text-align: center;
        padding: 12px;
    }

    .text-group {
        margin-top: 15px;
    }

    .title {
        font-size: 1.8rem;
    }

    .description {
        font-size: 0.95rem;
    }

    .site-header {
        padding: 12px 16px;
    }

    .header-logo img {
        height: 32px;
    }

    .nav-link {
        font-size: 1rem;
    }
}
