/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    display: block;
    color: #222;
    background: url("/res/bg_terang_pattern.png") top/10% repeat;
    transition: background 0.5s;
}

/* Top Site Header */
.site-header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 30px auto;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.header-logo img {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.header-nav .nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    transition: 0.2s;
}

.header-nav .nav-link:hover {
    color: #0077ff;
}

/* Blog Page */
.container {
    max-width: 600px;
    margin: 0;
    padding: 20px;
    width: 100%;
}

.title {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 25px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.post-title {
    font-size: 1.4rem;
}

.post-description {
    margin: 10px 0;
    color: #555;
}

.post-link {
    color: #0077ff;
    text-decoration: none;
    font-weight: 600;
}

.post-link:hover {
    text-decoration: underline;
}

/* Mobile layout (screen width 600px or less) */
@media (max-width: 600px) {
    .site-header {
        padding: 12px 16px;
    }

    .header-logo img {
        height: 32px;
    }

    .nav-link {
        font-size: 1rem;
    }
}