/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    display: block;
    color: #222;
    background: url("/res/bg_terang_pattern.png") top/100px repeat;
    transition: background 0.5s;
}

/* Top Site Header */
.site-header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto 30px auto;
    padding: 15px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.header-logo img {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.header-nav .nav-link {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    transition: 0.2s;
}

.header-nav .nav-link:hover {
    color: #0077ff;
}

/* Blog Page */

.container {
    max-width: 600px;
    margin: 0 auto 30px auto;
    padding: 20px;
    width: 100%;
}

#blog-container {
    margin-top: 20px;
    display: grid;
    gap: 20px;
}

.post-card {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background: white;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.2s;
}

.post-card:hover {
    transform: translateY(-3px);
}

.post-card .thumb {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.date {
    color: #666;
    font-size: 0.85rem;
}

/* Mobile layout (screen width 600px or less) */
@media (max-width: 600px) {
    .site-header {
        padding: 12px 16px;
    }

    .header-logo img {
        height: 32px;
    }

    .nav-link {
        font-size: 1rem;
    }
}